/*
  services style start
*/

@import "../base/_color.scss";

.services_area {
  background-color: $bg_gray;
}
.single_service {
  background-color: $white;
  padding: 30px;
  margin-right: 30px;
  width: 370px;
  float: left;
  margin-bottom: 30px;
  border: 1px solid $bg_gray;
  &:hover {
    border-color: $primary_color;
    i {
      background-color: $aqua_color;
      color: $white;
      transition: 0.3s;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  i {
    font-size: 20px;
    border: 1px solid $bg_gray;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
  }
  h4 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
  }
}

/*
  services style end
*/
