// common color start
$white: #fff;
$black: #333;
// common color end

// theme color start
$primary_color: #153084;
$aqua_color: rgb(0, 123, 255);
$bg_gray: #f2f2f2;
$border_color: #ddd;
// theme color end
