// import files link start
@import "color";
// import files link end

// common style code start
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 0 auto;
}
.fix::before,
.fix::after {
  content: "";
  clear: both;
  display: table;
}
a {
  text-decoration: none;
  color: $black;
  transition: 0.3s;
}

img {
  min-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

// common style code end

// Background CSS Start
.bg {
  background-position: center;
  box-sizing: cover;
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.75;
    z-index: -1;
  }
}
// Background CSS End

// Button CSS start
.btn {
  padding: 10px 40px;
  margin: 30px 20px;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  color: $white;
  &.box_btn {
    background-color: $primary_color;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary_color;
      padding: 8px 40px;
    }
  }
  &.border_btn {
    border: 2px solid $primary_color;
    padding: 8px 40px;
    transition: 0.3s;
    &:hover {
      background-color: $primary_color;
      color: $white;
    }
  }
}
// Button CSS end

// Section title start
.section_title {
  margin-bottom: 60px;
  h4 {
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 25px;
    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 2px;
      background-color: $primary_color;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
// Section title end

.section_pera {
  width: 500px;
  margin: 0 auto;
}

// margin and padding start

@for $var from 1 through 10 {
  // padding top start
  .pt-#{$var * 10} {
    padding-top: $var * 10px;
  }
  // padding top end

  // padding bottom start
  .pb-#{$var * 10} {
    padding-bottom: $var * 10px;
  }
  // padding bottom end

  // margin top start
  .mt-#{$var * 10} {
    margin-top: $var * 10px;
  }
  // margin top end

  // margin bottom start
  .mb-#{$var * 10} {
    margin-bottom: $var * 10px;
  }
  // margin bottom end
}

// margin and padding end

// Content Align start
$list: left, center, right, justify;
@each $var in $list {
  .text-#{$var} {
    text-align: $var;
  }
}
// Content Align end
